<launch>
 
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam  file="$(find control)/config/control_poker.yaml" command="load" />

  <!-- load the controllers -->
  <node name="controller_spawner" ns="/poker" pkg="controller_manager" type="spawner" respawn="false"
	output="screen"  args="joint_state_controller
					  arm_base_position_controller
					  "/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" ns="/poker" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/poker/joint_states" />
  </node>

  
</launch>
