<launch>
<group ns="/linearActuator">
    <param name="robot_description"
        command=" cat $(find robot_description)/models/linear_actuator_with_camera/model.urdf"/>
    <rosparam 
        file="$(find robot_description)/models/linear_actuator_with_camera/config/model_pid.yaml" command="load" ns="/linearActuator"/>

    <arg name="model_name" default="linearActuatorWithCamera"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
  

      <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model $(arg model_name) " />

</group>
</launch>